body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: #000;
}
.container{
    display: flex;
    width: calc(200px*3/2);
    height: 200px;
    background-color: aqua;
}
.white{
background-color: #fff;
width: calc(200px/2);
}
.red{
    background-color: red;
    height: 50%;
    width: 200px;
}
.green{
    background-color: green;
    height: 50%;
    width: 200px;
}