body{
    display: flex;align-items: center;justify-content: center;
    height: 100vh;
}
.container{
    height: 200px;
    width: 200px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.cross1{
    height: calc(200px*3/16);
    width: calc(200px*5/8);
    background-color: white;
}
.cross2{
    width: calc(200px*3/16);
    height: calc(200px*5/8);
    background-color: white;
    position: absolute;
}