.box{
    width: 50px;
    height: 50px;
    background-color: purple;
    border-radius: 50%;
    animation: box 1s infinite alternate;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh;
}
@keyframes box{
    0%{
        transform: scale(0.8);
        background-color: purple;
    }
    100%{
        transform: scale(1.1);
        background-color: violet;
    }
}