body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.container{
    width: calc(200px*7/6);
    height: 200px;
    background-color: bisque;
}
.strip{
    height: calc(200px*1/3);

}
.red{
    background-color: red;
}
.white{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.green{
    background-color: green;
}
.circle{
    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 50%;
}