body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}
.container {
  width: 20em;
  height: 350px;
  color: white;
  background-color: rgb(35, 35, 35);
  padding: 20px;
  align-content: center;
  border-radius: 10px;
  transition: all 0.5s ease ;
}
.container:hover{
    border: 2px solid white;
    box-shadow: 2px 20px 20px white;
}
img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-self: center;
}
.container p {
  font-size: 14px;
  line-height: -120px;
}
h1 {
  font-size: 22px;
}
button {
  width: 100%;
  padding: 8px;
  background-color: rgb(131, 42, 42);
  color: white;
  animation: Color 1s infinite alternate;
  border: none;
}
@keyframes Color {
  0% {
    background-color: rgb(20, 17, 17);
  }
  100% {
    background-color: rgb(58, 58, 58);
  }
}
