.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
:root {
  --height: 200px;
}
.card {
  border: 1px solid #000;
  height: var(--height);
  width: calc(var(--height) * 2 / 3);
  border-radius: 5px;
  display: grid;
  padding: 0.6em;
}
.center {
  display: flex;
  justify-content: center;
  font-size: 3em;
}
.bottom {
  transform: rotate(180deg);
}
