.container{
    height: 100vh;
    display: flex;
justify-content: center;
align-items: center;
}
h1::after{
    content:"Fresher ";
    animation: swap 6s;
    background-color: pink;
    padding: 5px;
    margin: 10px;}
@keyframes swap {
    0%{
content: "Web Developer";
}
25%{
        content: "UI UX Designer ";
        
    }
    50%{
        content: "Frontend Developer ";

    }
    75%{
        content: "Backend Developer ";
    }
    100%{
         content: "Web Developer ";
    }
}